.TituloBarra{
    color: #002C72;
    font-weight: bold;
    font-size: 20px;
    margin-top: 16px;
    width: 86%;
    border-top: 2px;
}

.cardCategoria{
    margin-top: 104px;
}

.Borde{
    border-top: 2px solid #002C72; /* Añadir borde superior */
    margin-top: 30px;
}

.li-Categoria{
    font-size: 17px;
   font-weight: 400;
   list-style-type: none; 
  margin: 0;              
  padding: 0;
  margin-top: 05px;             
}

.ul-Categoria{
    margin: 0;    /* Elimina el margen */
    padding: 0;   /* Elimina el relleno */
    list-style-type: none;  /* Elimina el estilo de la lista (puntos, etc.) */
}

.CardsCategorias{
    display: flex;
    flex-direction: column;
    align-items: center;
        height: 484px;
        min-width: 320px;
        width: 320px;
     margin:  24px 24px 0px 0px;
        border-radius: 15px;
        box-shadow: 3px 2px 15px 4px rgba(77, 50, 50, 0.15) 
}

.productoGen{
    margin-left: 260px;
}

@media screen and (min-width:900px) {
    .filtroCategoria{
        display: none;
    }
    
}

@media screen and (max-width:900px) {
    .cardCategoria{
        margin-top: 105px;
        margin-left: 0px !important; 
    }    
    .filtros{
        display: none;
    }
    .productoGen{
        margin-left: 0 !important
    }

}

@media screen and (max-width:650px){
    .CardsCategorias{
        margin:  24px 0px 0px 0px;
    }
}