/*ESTILOS GENERALES*/
.header{
    margin-top: 105px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-image: url('../../../public/images/fondo_shapedivider.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}
.tituloRotoplas{
    width: 90%;
    margin: 5% 5% 5% 0%;
    font-weight: 700;
    font-size: 1.8rem;
    color: #002C72;
}
.descRotoplas {
    text-align: justify;
    font-weight: 100;
    font-size: 26px;
    color: black;
    width: 90%;
    margin: 0% 5% 0% 0%;
    font-weight: 300;
    color: #002C72;
}
.imagenHeader{

    margin-bottom: 20px;
}
.imagenHeader img{
    
    height: 100%;
}
.explorarProductos {
    font-size: 18px;
    background-color: #002C72;
    color: white;
    border: none;
    width: 200px;
    height: 42px;
    margin: 0 10% 5% 0%;
    border-radius: 15px;
    transition: 0.3s ease;
    cursor: pointer;
}
.explorarProductos:hover{
    background-color: #021E4A;
    font-size: 16px;
    font-weight: 100;
    transition: 0.3s ease;
}
.header img {
    display: block;
    
}
.headerRotoplas{
    
    display: flex;
    flex-direction: column;
    margin-bottom: 30%;
}
.headerRotoplas img {
    width: 300px;
    display: flex;
    margin: auto;
}
/*ESTILOS PARA CELULAR HASTA TABLET*/
@media screen and (max-width:767px) {
    .header{
        background-size:cover;
        margin-top: 105px;
    }
    .headerRotoplas{
        margin-bottom: 0;
        height: 400px;
    }
    .explorarProductos{
        margin: auto;
        margin-bottom: auto;
    }
    .imagenHeader{
        height: 400px;
        object-fit: none;
        margin-bottom: 0;
    }
    .imagenHeader img{
        height: 90%;
    }
    .headerRotoplas img{
        width: 60%;
        margin: auto !important
    }
    .tituloRotoplas{
        text-align: center;
        margin: auto;
        font-size: 1.2rem;
    }
    .descRotoplas{
        text-align: center;
        font-size: 1rem;
        margin: auto;
    }
}
/*ESTILOS PARA TABLET HASTA LAPTOP*/
@media screen and (min-width:768px) and (max-width:899px) {
    .header{
        background-size:cover;
        margin-top: 105px;
    }
    .headerRotoplas{
        margin-bottom: 0;
        height: 500px;
    }
    .explorarProductos{
        margin: auto;
        margin-bottom: auto;
    }
    .imagenHeader{
        height: 500px;
        object-fit: none;
        margin-bottom: 0;
    }
    .imagenHeader img{
        background-size:contain;
        margin: auto;
        width: 60% !important;
    }
    .headerRotoplas img{
        width: 40%;
        margin: auto !important
    }
    .tituloRotoplas{
        text-align: center;
        margin: auto;
        font-size: 1.5rem;
    }
    .descRotoplas{
        text-align: center;
        font-size: 1.25rem;
        margin: auto;
    }
}