/*ESTILOS GENERALES*/
.header{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('../../../public/images/fondo_shapedivider.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #FFFFFF;
}
.tituloRotoplas{
    width: 90%;
    margin: 5% 5% 5% 0%;
    font-weight: 700;
    font-size: 1.8rem;
    color: #002C72;
}
.descRotoplas {
    text-align: justify;
    font-weight: 100;
    font-size: 26px;
    color: black;
    width: 90%;
    margin: 0% 5% 0% 0%;
    font-weight: 300;
    color: #002C72;
}
.imagenHeader{

    margin-bottom: 20px;
}
.imagenHeader img{
    
    height: 100%;
}
.explorarProductos {
    font-size: 18px;
    background-color: #002C72;
    color: white;
    border: none;
    width: 200px;
    height: 42px;
    margin: 0 10% 5% 0%;
    border-radius: 15px;
    transition: 0.3s ease;
    cursor: pointer;
}
.explorarProductos:hover{
    background-color: #021E4A;
    font-size: 16px;
    font-weight: 100;
    transition: 0.3s ease;
}
.header img {
    display: block;
    
}
.headerRotoplas{
    
    display: flex;
    flex-direction: column;
    margin-bottom: 30%;
}
.headerRotoplas img {
    width: 300px;
    display: flex;
    margin: auto;
}
/*ESTILOS PARA CELULARES HASTA CASI TABLET*/
@media screen and (max-width:767px) {
    .tituloRotoplas{
        text-align: center;
        margin-top: 10%;
        font-size: 32px;
    }
    .descRotoplas{
        text-align: center;
        font-size: 20px;
    }
    .explorarProductos{
        width: 70%;
        margin-bottom: 10%;
    }
}
/*ESTILOS PARA TABLET CASI LAPTOP/DESK*/
@media screen and (min-width:768px) and (max-width:1279px) {
    .tituloRotoplas{
        text-align: center;
        margin-top: 5%;
        font-size: 34px;
    }
    .descRotoplas{
        text-align: center;
        font-size: 24px;
        margin: 5% 15%;
    }
    .explorarProductos {
        width: 40%;
        margin: auto; /* Esto centrará horizontalmente el contenido */
        display: flex;
        align-items: center; /* Esto centrará verticalmente el contenido */
        justify-content: center; /* Esto centrará el botón horizontalmente */
        margin: auto;
        margin-bottom: 5%;
    }
}